<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.makar1227.egida">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".menu.PetActivity" />
        <activity android:name=".menu.NeedActivity" />
        <activity android:name=".menu.DonationActivity" />
        <activity android:name=".donation.BankActivity" />
        <activity android:name=".network.WebActivity">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".dog.DogSearchActivity" />
        <activity android:name=".dog.DogListActivity"></activity>
    </application>

</manifest>